@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@500&family=Roboto+Slab:wght@600&display=swap');

.cabecalho{
     display: flex;
     flex-direction: row;
     /*background-color: #E5D5B5;*/
     align-items: center;
     justify-content: space-evenly;
     border-bottom: 0.4px solid black;
 }
 
 .cabecalho_menu{
     display: flex;
     flex-direction: row;
     font-weight: 100;
     padding: 14px;
 }
 
 .cabecalho_menu li{
     display: inline-block;
     padding: 10px;
     border-radius: 10px;
     transition: 1s all;
    
 }
 
 .cabecalho_menu li:hover{
     background: #64AAB9;
     
  }
 
 .cabecalho_menu_link{
     font-family: 'Roboto Slab', serif;
     font-size: 25px;
     font-weight: 400;
     text-decoration: none;
     color: black;
 }