<section class="cabecalho">
     <nav class="cabecalho_menu">
         <ul>
             <li>
                 <a class="cabecalho_menu_link">Home</a>
             </li>
             <li>
                <a class="cabecalho_menu_link"> Planos</a>
             </li>
             <li>
                 <a class="cabecalho_menu_link"> Edições anteriores </a>
             </li>
             <li>
                 <a class="cabecalho_menu_link"> CHB-RN </a>
             </li>
             <li>
                 <a class="cabecalho_menu_link"> Contato </a>
             </li>
         </ul>
     </nav>
 </section>