<section class="apresentacao_principal">
     <div class="apresentacao_principal_escrito">
          <h1 class="apresentacao_principal_titulo">Conheça o Giro no Olimpo</h1>
          <h2 class="apresentacao_principal_texto"> 
               O jornal comprometido com a verdade, e quando é fic, <br>permanece comprometido.
          </h2>
          <h2 class="apresentacao_principal_texto">
               Assine a newsletter do Giro no Olimpo, você terá <br> 
               novidades semanais sobre o CHB-RN e algumas <br> histórias sobre o Monte Olimpo.
          </h2>
          <button class="btn-grad">Assinar agora</button>
     </div>
     <img class="apresentacao__img" alt="logo do chb-rn" src="assets\logoGiro.png">
</section>
