<section class="apresentacao_secundaria">
     <h3 class="apresentacao_secundaria-título"> Quais são os benefícios? Passe o mouse e descubra</h3> 
     <section class="container"> 
         <div class="card">
             <div class="content">
                 <h3 class="apresentacao_secundaria-paragrafo">Interações exclusivas</h3>      
                 <img src="assets\conversa.jpg" class="imagem">
              </div>
          </div>  

      <div class="card">
          <div class="content">
             <h3 class="apresentacao_secundaria-paragrafo">Envio semanal por email do jornal</h3>
             <img src="assets\carta.jpg" class="imagemCarta">
          </div>
      </div>

      <div class="card">
         <div class="content">
         <h3 class="apresentacao_secundaria-paragrafo">Formulário com impressões sobre as seções</h3>
         <img src="assets\aviso.jpg" class="imagem">
         </div>
     </div> 
  </section> 
 </section>
