@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@500&family=Roboto+Slab:wght@600&display=swap');

body{
     font-size: 100%;
     background: rgb(255,220,177);
     background: linear-gradient(90deg, rgba(255,220,177,1) 0%, rgba(127,184,197,1) 100%);
     color: black;
}